<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
   <!-- Our CSS -->
   <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
   <title>Trends in Floods in US</title>
</head>
<body>
  <!--Nav Bar -->
  <!-- Nav title -->
  <nav class="navbar navbar-expand-lg" style="background: #04519b; color: white" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color: white">Flooding & Flash Flooding in the US</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdownoptions"
       aria-controls="dropdownoptions" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>  
    <!-- Nav options -->
    <div class="collapse navbar-collapse" id="dropdownoptions">
      <ul class="navbar-nav" style="white-space:nowrap">
          <!-- Over view -->
          <li class="nav-item active"><a class="nav-link" href="/" style="color: white"> Overview </a></li>
          <!-- plots -->
          <li class="nav-item active"><a class="nav-link" href="/trends" style="color: white"> Plots </a></li>
          <!-- Maps -->
          <li class="nav-item dropdown active">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="dropdownoptions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maps
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownoptions">
              <a class="dropdown-item" href="/mapIncidence">Incidences</a>
              <a class="dropdown-item" href="/mapDamage">Damage</a>
            </div>
          </li>
          <!-- Maps -->
          <li class="nav-item dropdown active">
              <a style="color: white" class="nav-link dropdown-toggle" href="#" id="dropdownoptions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownoptions">
                <a class="dropdown-item" href="/data2019">2019 Data</a>
                <a class="dropdown-item" href="/dataHistorical">Historical Data</a>
              </div>
            </li>
          <li class="nav-item active" ><a class="nav-link" href="/aboutus" style="color: white; display: inline-block ">About Us</a></li>
      </ul>
    <!-- End of options -->
    </div>
  <!-- End of nav -->
  </nav>
  <!-- Adding Table -->
  <div class=container>
  <table class="table table-hover">
    <thead>
      <tr style="text-align: right;">
        <th>Year</th>
        <th>Number of Floods</th>
        <th>Property Damage</th>
        <th>Crop Damage</th>
        <th>Death Toll</th>
        <th>Injury Toll</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1999</td>
        <td>1408</td>
        <td>1.235950e+09</td>
        <td>3.279670e+08</td>
        <td>68</td>
        <td>301</td>
      </tr>
      <tr>
        <td>2000</td>
        <td>1544</td>
        <td>1.003065e+09</td>
        <td>6.575590e+08</td>
        <td>39</td>
        <td>47</td>
      </tr>
      <tr>
        <td>2001</td>
        <td>1754</td>
        <td>1.127485e+09</td>
        <td>3.804001e+07</td>
        <td>52</td>
        <td>277</td>
      </tr>
      <tr>
        <td>2002</td>
        <td>1710</td>
        <td>5.909171e+08</td>
        <td>8.000101e+07</td>
        <td>47</td>
        <td>85</td>
      </tr>
      <tr>
        <td>2003</td>
        <td>2355</td>
        <td>2.168979e+09</td>
        <td>1.580690e+08</td>
        <td>88</td>
        <td>70</td>
      </tr>
      <tr>
        <td>2004</td>
        <td>2383</td>
        <td>1.456590e+09</td>
        <td>2.907791e+08</td>
        <td>82</td>
        <td>128</td>
      </tr>
      <tr>
        <td>2005</td>
        <td>2060</td>
        <td>1.174055e+09</td>
        <td>4.793503e+07</td>
        <td>43</td>
        <td>38</td>
      </tr>
      <tr>
        <td>2006</td>
        <td>1870</td>
        <td>2.738879e+09</td>
        <td>7.060382e+07</td>
        <td>79</td>
        <td>31</td>
      </tr>
      <tr>
        <td>2007</td>
        <td>5467</td>
        <td>1.529587e+05</td>
        <td>3.502840e+04</td>
        <td>94</td>
        <td>67</td>
      </tr>
      <tr>
        <td>2008</td>
        <td>6328</td>
        <td>2.325886e+05</td>
        <td>7.900215e+04</td>
        <td>95</td>
        <td>53</td>
      </tr>
      <tr>
        <td>2009</td>
        <td>6069</td>
        <td>1.616721e+05</td>
        <td>1.379980e+04</td>
        <td>67</td>
        <td>30</td>
      </tr>
      <tr>
        <td>2010</td>
        <td>6664</td>
        <td>2.138665e+05</td>
        <td>2.394425e+04</td>
        <td>116</td>
        <td>340</td>
      </tr>
      <tr>
        <td>2011</td>
        <td>7152</td>
        <td>2.032651e+05</td>
        <td>2.982450e+04</td>
        <td>128</td>
        <td>45</td>
      </tr>
      <tr>
        <td>2012</td>
        <td>3297</td>
        <td>5.807338e+04</td>
        <td>6.232000e+03</td>
        <td>34</td>
        <td>28</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>6660</td>
        <td>1.575602e+05</td>
        <td>6.921650e+03</td>
        <td>84</td>
        <td>36</td>
      </tr>
      <tr>
        <td>2014</td>
        <td>5138</td>
        <td>1.093017e+05</td>
        <td>8.265300e+03</td>
        <td>42</td>
        <td>30</td>
      </tr>
      <tr>
        <td>2015</td>
        <td>7650</td>
        <td>2.331071e+05</td>
        <td>2.858400e+04</td>
        <td>202</td>
        <td>89</td>
      </tr>
      <tr>
        <td>2016</td>
        <td>5289</td>
        <td>1.273630e+05</td>
        <td>1.480377e+04</td>
        <td>138</td>
        <td>32</td>
      </tr>
      <tr>
        <td>2017</td>
        <td>6134</td>
        <td>1.672659e+05</td>
        <td>2.728749e+04</td>
        <td>149</td>
        <td>26</td>
      </tr>
      <tr>
        <td>2018</td>
        <td>9202</td>
        <td>1.044486e+05</td>
        <td>2.032212e+04</td>
        <td>83</td>
        <td>22</td>
      </tr>
      <tr>
        <td>2019</td>
        <td>1859</td>
        <td>2.678861e+04</td>
        <td>9.640000e+02</td>
        <td>12</td>
        <td>11</td>
      </tr>
    </tbody>
  </table>
  </div>
    <!-- Addig footer -->
    <footer class="footer" style="background:#04519b; color: white; text-align: center; position: sticky; width: 100%" >
      <div class="container">
        <span>© Copyright 2019</span>
      </div>
    </footer>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>